    <div class="container">
        <div class="row row-content" ng-controller="MenuController">
            <div class="col-xs-12" ng-if="!showMenu">            
              <h3>{{message}}</h3>
            </div>
            <div class="col-xs-12" ng-if="showMenu">
              <button ng-click="toggleDetails()" class="btn btn-xs btn-primary pull-right" type="button">
                {{showDetails ? 'Hide Details' : 'Show Details'}}
              </button>

                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" ng-class="{active:isSelected(1)}">
                    <a ng-click="select(1)" aria-controls="all menu"
                        role="tab">
                        The Menu
                    </a></li>
                    <li role="presentation" ng-class="{active:isSelected(2)}">
                    <a ng-click="select(2)" aria-controls="appetizers"
                        role="tab">
                        Appetizers
                    </a></li>
                    <li role="presentation" ng-class="{active:isSelected(3)}">
                    <a ng-click="select(3)" aria-controls="mains"
                        role="tab">
                        Mains
                    </a></li>
                    <li role="presentation" ng-class="{active:isSelected(4)}">
                    <a ng-click="select(4)" aria-controls="desserts"
                        role="tab">
                        Desserts
                    </a></li>
                </ul>

                <div class="tab-content">
                    <ul class="media-list tab-pane fade in active">
                    <li class="media" ng-repeat="dish in dishes | filter:filtText">
                        <div class="media-left media-middle">
                            <a ui-sref="app.dishdetails({id: dish.id})">
                            <img class="media-object img-thumbnail"
                             ng-src={{dish.image}} alt="Uthappizza">
                            </a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading">{{dish.name}}
                             <span class="label label-danger">{{dish.label}}</span>
                             <span class="badge">{{dish.price | currency}}</span></h2>
                            <p ng-show="showDetails">{{dish.description}}</p>
                        </div>
                    </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script>
      /*
        -------------- NOTES ABOUT THE COURSE... NOT AN ACTUAL SCRIPT! -----------------

    *** about the === comparator:

    the === compares the two sides without doing any type conversion, that means if the
    types aren't equal, then it returns false. the == comparer checks if the types
    aren't equal, if so, it tries to convert them and then does the comparison. for example:
        '1' == 1 ---> true
        '1' === 1 --> false
    aplica lo mismo para otros tipos de datos y objetos.


        - Grunt-Gulp:
            se encargan de tareas automatizadas y de cosas muy repetitivas, por ejemplos, 
            recompilar sass y less code, uglificacion (minification + mangling), errores
            en protocolos o errores de js que puedan ser inconvenientes en el futuro.
            Tambien por ejemplo, reducir imagenes de tamaño, automated tests y compilar
            el sitio para deployment al web.
            Para todo esto se usa Grunt-Gulp, permiten automatizar todo esto.


          - gruntFile.js:
            en este archivo se especifica todos los task y demas cosas que queremos que haga
            grunt. El file globin

          - JSHint:
            intellisense para js... en el GruntFile.js se especifican que archivos de js
            se van a tener en cuenta, ademas de otras opciones

          - Distribution Folder:
            cuando se va a servir una pag web a un servidor, la idea es hacerlo con la menor
            cantidad de archivos y que pesen lo menos posible. para esto se genera una
            carpeta de distribucion. la idea es combinar la carpeta app y la carpeta bower_components
            para hacerlo bien.
            la idea es, entonces, copiar los archivos que son esenciales para la pagina web y
            hacer un rebuild de toda la carpeta de distribucion. estas acciones serian el copy
            y el clean.

          - Uglification:
            concatenar, minificar, cssmin, uglify, filerev, usemin. comprime todo para que 
            ocupe el menor espacio posible

          - Watch:
            mantiene un watch en ciertos archivos. Cuando estos cambien, corra algunos tasks
            configurados previamente automaticamente.

          - Connect:
            inicia un servidor en un puerto especificado y sirve los archivos dentro de algun
            folder (dist folder), para test. Se puede combinar con watch para recargar la pagina
            del navegador para ver los cambios.

          - Angular scope:
            es un objeto que referencia el modelo de la aplicacion. es el core del
            2-way binding, es decir, es la pega que une el modelo con el controlador
            de la sgte manera:
              . el controlador expone propiedades al scope
              . el view hace bind a las propiedades puestas por el controlador
              . angular es responsable de mantener las 2 en sync.
            el scope de mas arriba se llama $rootScope, se crea por angular cuando
            la app inicia y angular va creando scopes diferentes a medida que
            atraviesa el DOM. de esta manera, el scope tree y el DOM tree quedan
            de una manera similar.
            en el js que tiene el controller, se reemplaza this por $scope y se pone
            .controller('MenuController',['$scope', function($scope) { ... }]); para
            definir que se va a usar el scope. ademas, en el html se pueden llamar
            las funciones sin necesidad de especificar otras cosas. ver codigo arriba

          - ng-Show:
            se usa asi ng-show="boolean". esto quiere decir que este elemento html
            se mostrara u ocultara dependiendo de la variable boolean del $scope
            que se especifique en las comillas.

          - Angular Forms:
            dado el 2-way binding de angular, usar forms es muy sencillo, y usar
            validaciones de javascript para los datos tamb se vuelve trivial.
            lo que se hace es crear un objeto en el js que este dentro del scope
            y se definen las propiedades del 2-way binding. por ejemplo
              $scope.feedback = {mychannel="", firstName="", lastName=""}
            luego, en el html se hace con ng-model:
              <input type="text" ... ng-model="feedback.firstName">
            de esta manera, queda el 2-way binding. (controlador y vista).

          - Form Validation:
            se puede desactivar la validacion de form de html para que sea
            responsabilidad enteramente de angular. esto se hace en el tag
            <form> especificando novalidate, asi:
              <form class="form-horizontal" name="myForm" ng-submit="sendForm()" ... novalidate>
            el form debe tener un nombre y el ng-submit="func" llamara la funcion
            especificada cuando se le da al btn submit y ahi se trabajara el submit
            del form y la info.
            las validaciones que hace angular se realizan antes de asignar los valores al $scope. algunas directivas de interes:
              . ng-minlength
              . ng-maxlength
              . ng-pattern: can use regex (regular expresion(input matches regular expresion))
            cuando se nombran los campos y el form, se pueden usar 4 propiedades predeterminadas que trae angular para chequear un par de cosas
            (se pueden usar en campos individuales, o en todo el form):
              . $pristine: true si el form no ha sido cambiado
              . $dirty: opuesto a $pristine
              . $valid: true si el campo/form es valido
              . $invalid: opuesto a $valid
            cuando se encuentra alguna validacion, se pueden usar classes de bootstrap para alertar al usuario y hacerle saber que hay errores y que debe modificar para corregir dichos errores
              . .has-error, .has-warning, .has-success
              . .help-block para mostrar un msj abajo del campo.
              

          - Dependecy Injection:
            Se trata de hacer algo que sea loosely coupled: que el objeto que implementa otro objeto (dependencia) no sepa exactamente que es lo que esta implementando. es decir, el cliente
            no necesita construir el objeto. Es util para unit testing, factories y otros casos.
            hay 3 tipos basicos de DI:
              . new operator
              . global variable
              . pasar la dependencia como parametro donde se necesite (Mas flexible)
            la 3era es mas flexible porque evita hard code la dependencia y testing se vuelve factible (se puede pasar un objeto mock).
            el DI se usa en Angular para separar la logica de negocio de la construccion de dependencias. la dependencia se pasa al objeto que la consume donde se necesite.
            en Angular se usa DI extensivamente, en cosas como servicios, directivas, filters y animaciones, se definen por una injectable factory o por constructores.
            los controles se pueden injectar con los componentes.
            config y run methods aceptan injection de algunos componentes
            en angular hay 3 maneras:
              . Inline array: los objetos que se quieran injectar se pasan como un array, 
                module.controller('MenuController', ['$scope', 'menuFactory', function($scope, menuFactory){
                  ...
                }]);
              . $inject property: se crea la funcion y luego se le da funcName.$inject=[...] para
                especificar que es lo que se va a injectar:
                var MenuController = function($scope, menuFactory){
                  ...
                };
                MenuController.$inject = ['$scope','menuFactory'];
                module.controller('MenuController', MenuController);
              . Implicit: no se especifica explicitamente la injection, sino que se declaran los 
                parametros y angular automaticamente sabrá sobre esto.
              El metodo preferido es el inline array, ya que es mas claro sobre que se esta injectando

          - Angular services:
            pueden definirse como objetos sustituibles que se conectan usando DI. standalones que se injectan en controllers u otros objetos cuando se requieran. la razon para usar services es
            que se organiza y comparte codigo a traves de la app. lazy instatiation: solo se intancian cuando se necesiten, lo otro es que son singletons, es decir, solo una instancia de ese objeto existe. no se pueden crear multiples copias de un objeto.
            los servicios en angular empiezan con $. por ejemplo: $scope, $http, $rootScope, $location, $parse, etc.
            se pueden crear custom services de las siguientes maneras:
              . service()
              . factory()
              . provider()
              . constant()
              . value()

          - Angular factory: cuando se usa la factory se espera que retorne un objeto js con funciones
            para usar este objeto en un controller, se usa DI.
            angular.module('confusionApp')
              .factory('menuFactory', function(){
                var menufac={};
                var dishes=[...];

                menufac.getDishes = function(){
                  return dishes;
                };
                ...
                return menufac;
              });

            se usa asi:
            angular.module('confusionApp')
              .controller('MenuController',['$scope', 'menuFactory', function($scope,menuFactory){
                $scope.dishes = menuFactory.getDishes();
              }]);
            Tambien se puede usar .service(), la diferencia es que no crea un objeto js que se devuelve, sino que se usa this para declarar las funciones que se van a usar. El codigo del controller no cambia, es exactamente el mismo.

          - Angular Templates:
            son escritos en HTML y especifican como se muestra la informacion en la app. este codigo
            html es dynamico y es anotado con cosas de angular. es decir, se crea una vista dinamica
            usando un template, controller y model.
            se usan:
              . Directives(ng-algo)
              . Markup:({{ expresion }})
              . Filters: (filter data)
              . Form controls: (validation, etc)

          - ng-include:
            es una directive para buscar, compilar e incluir un fragmento html externo.
            se usa <div ng-include="'menu.html'"></div> o con <ng-include src="'menu.html'"></ng-include>
            esta directiva crea un nuevo scope. Permite incluir un template externo!
            tiene "''"(doble comilla, comilla)

          - Single page applications
            tradicionalmente, cuando se ingresa a una pagina web, y se navega por ella, el servidor
            responde con diferentes paginas que se muestran en el navegador y asi. en las SPA, se
            pide la web application (request web app) y el servidr responde con la web app y los assets
            cuando el cliente realiza un modificacion, por ejemplo un link, el cliente envia solo
            esta accion y el servidor responde con JSON para renderizar lo nuevo. esto hace que
            interactuar con la pagina se vuelva request-response de json (o xml), ya que la carga inicial
            de la web app se mantendra allí. se ahorra mucho tiempo entre cliente-servidor. hace que
            el user experience se parezca mas a una app de escritorio.
            known issues:
              . Search engines: no es optimizado
              . particionar responsabilidad entre cliente-servidor: el servidor actua como una base de 
                datos...
              . mantener historial (backstack): next/back buttons...
              . analytics: datos de analyitics
              . agilizar la carga inicial: descargar muchos recursos...

          - SPAs en Angular
            angular ya da muchas facilidades para hacer SPAs: data binding, MVW, Views -> templates + controller + model, location y routing.
            en SPAs, el servidor le da mucha responsabilidad de renderizar al cliente, por esto
            se vuelve puramente servidor de datos usando REST API. solo suplee los archivos estaticos html, angular templates y recursos.
            el view se renderzia por completo en el cliente. se usa templating and routing (move
            from one template to another)

          - Deep linking
            dado que todo se identifica como un URL, deep linking especifica un link a un contenido
            web que puede ser buscado o indexado. por ejemplo
              http://www.conFusion.food/index.html#/menu/0
            lo que siga despues del # no indica una recarga de la pagina. es decir, si cambia el cliente
            sabe que no debe recargar la pagina sino buscar el url dentro de ella. esto permite cargar
            diferentes views sin necesidad de recargar la pagina

          - $location service
            permite saber el URL actual, observarlo y cambiarlo. sincroniza el URL cuando
            el usuario cambie el address bar, haga click en back-forward, etc. y tambien permite cambiar
            la porcion del # de una URL.

          - ngRoute
            route = la parte del #. routing es mapear el path de una url a un handler para ese route
            en particular.
            ngRoute no es parte del core de angular, hay que instalarlo: bower install angular-route -S
            luego se incluye en la app usando el <script> tag. este tag maneja la interaccion entre
            el $location service y el view. puede actualizarlo (la parte del #). hay que usar DI
            en la app. tambien esta $routeProvider, el cual mapea desde los routes a los handlers
            un handler es un objeto que define el url del template y el controller. el $routeProvider
            necesita configuracion previa, por lo que se usa el .config que trae angular:
              angular.module('confusionApp',['ngRoute'])
                .config(function($routeProvider){
                    $routeProvider
                      .when('/menu',{
                        templateUrl: 'menu.html', controller: 'MenuController'
                      })
                      ...
                });
            el when se refiere a la parte del #.
            para navegar entre diferentes views y con parametros (query string), el <a> tag se pone como
            <a ng-href="#/menu/{{dish._id}}"> de esta manera se vincula el link con la correspondiente
            pagina. en el controller se llamaria asi:
              .controller('DishDetailController', ['$scope','$routeParams', 'menuFactory',
                function($scope, $routeParams, menuFactory){
                  var dish = menuFactory.getDish(parseInt($routeParams.id, 10));
                  $scope.dish = dish;
                }]);

          - ngView
            trabaja en conjunto con $route service para incluir el template renderizado del current
            route al main layout. se usa asi:
              <ng-view></ng-view>
              <div ng-view></div>

          - UI-Router
            ng-Route tiene algunas limitaciones, como por ejemplo, solo puede mostrar un view a la vez
            no se pueden nestear, y las view estan atadas al URL del route. esto a veces es un problema
            por que se requieren otras cosas. 
            el ui-router se basa en estados de la app para cambiar las partes del sitio. esto permite
            hacer cambios en la web sin siquiere cambiar la URL. Esto permite multiples views y
            nested views.
            se debe instalar usando bower y hacer DI en el modulo asi:
              angular.module('confusionApp',['ui.router'])
            provee un state-Provider y un url-provider. en el config se implementa la funcion .state
            en vez de .when para especificar cada state que forma parte de la app.
            para incluirlo en una pagina se pone <div ui-view="header"></div>. para los links se pone
            <a ui-sref="app.aboutus"></a> el href que le corresponde se hace durante compilacion
            asi como se tiene $routeParams, tambien se tiene $stateParams;
              <a ui-sref="app.dishdetails({id: dish._id})">

          - Networking:
            muchas app web tienen un backend cloud: significa que el cloud hosts the backend. es decir,
            hay que comunicarse con un servidor a traves de un protocolo, por ejemplo, http. y existe
            algo que se conoce como REST api, que significa representational state transfer. algunos
            acronimos:
              . SOAP: se usa encima de http como protocolo de comunicacion distribuido
              . REST: representational state transfer
            los códigos de los response de GET o POST de http, son interpretados por el navegador, en 
            primera instancia no son visibles por la app a menos que se pidan especificamente.
          
          - Json Server npm:
            node.js tiene un paquete que se llama JSon server, el cual es facil de manejar y permite
            servir datos de una manera simple. se instala de manera global con
              . npm install json-server -g
            luego se hace una carpeta aparte json-server donde estará el servidor en esta carpeta se
            puede poner un archivo json que contenga datos que se quieran servir. por ejemplo, db.json
            para servir estos datos se hace
              . json-server --watch db.json
            o se pone el nombre del archivo json que se quiera servir. como se esta sirviendo y accediendo
            desde la misma maquina, el le pone localhost:port#, pero si se quiere acceder desde otro 
            equipo se debe darle un nombre al servidor...

          - $http service
            es un core service que tiene angular para comunicarse con servidores usando protocolo http
            a traves de un navegador. es async por naturaleza. usa XMLHttpRequest o JSONP (json with
            padding) en angular esto se maneja usando promesas, hace un trabajo async y cuando terminan
            se manejan por un handler/callback que interpreta el resultado o el error. esto porque 
            las llamadas a servidores son async. esto se hace con
              . $q service
            el $http service devuleve una promesa, y se llama asi:
              . $http({method:'GET', url:'/dishes'}).then(function(){...}, function(){...});
            la primera funcion que se especifica despues del then es la que se ejecuta si el request
            es valido, la 2nda funcion se ejecuta si ocurrió un error. existen algunos shortcuts:
              . $http.get(), $http.put(), ... , $http.jsonp(), etc.
            ejemplo:
              . $http.get(baseURL+"dishes").then(
                  function(response){
                    $scope.dishes = response.data;
                    $scope.showMenu = true;
                  },
                  function(response){
                    $scope.message = "Error: " + response.status + " " + response.statusText;
                  }
                );

          - ngIf
            es una angular directive que permite agregar o remover por completo una porcion del DOM
            a diferencia de ng-show o ng-hide, los cuales solo la ocultaban/revelaban. ejemplo:
              <div class="col-xs-12" ng-if="!showMenu">
                <h3>{{message}}<h3>
              </div>
            si showMenu es false, significa que esa porción que muestra un mensaje sera removida
            por completo --> no aparecera y no estara oculta.

          - REST Representational State Transfer
            sistema diseñado para soportar interoperabilidad entre sistemas conectados a una red
              . SOA: service-oriented architecture
              . es una estandarizacion de integrar aplicaciones basadas en web usando estandards
                de internet.
            se usan 2 aproches en practica:
              . SOAP: simple object access protocol: usa WSDL (web services description language)
                y es XML
              . REST: usa estandards web, puede usar XML o JSON, y es mas simple comparado
                con SOAP, WSDL, etc.
            REST es util porque tiene mucha sinergia con http. tiene 4 principios basicos
              . Usar metodos http explicitamente
              . ser stateless
              . exponer estructuras de directorio tipo URI
              . usar XML o JSON para transferencias
            REST captura lo mejor de la web y hace enfasis, osea: URI resources, HTTP protocol,
            request-response. Tiene capabilidades de HTTP que van mas alla de GET y POST tradicionales
            en REST, existe una piramide que representa como funciona: son 3 puntas:
              . Nouns (resources): unconstrained - http://conFusion.food/dishes/123
              . Verbs: constrained - GET, PUT, POST, DELETE
              . Representations: constrained - XML, JSON
            nouns: lo que se quiere, verbs: que se va a hacer, representations: como se va a 
            representar dichas cosas
            los verbs se mapean a CRUD:
              . GET = READ
              . POST = CREATE
              . PUT = UPDATE
              . DELETE = DELETE
            el servidor es stateless, significa que cada cliente debe saber en que estado esta, 
            usando cookies, client-side db, etc. y cuando el cliente envía un request, debe
            enviar tamb el estado en que esta y que quiere hacer.

          - ngResource
            contiene un nivel de abstraccion mayor que $http para interactuar con un RESTful API
            server. no es parte del core de angular, entonces para instalar se usa
              . bower install angular-resource -S
              . Dependency injection: angular.module('confusionApp', ['ui.router','ngResource'])
            la idea es usar $resource en vez de $http para realizar CRUD operations.
              . Dependency injection: .service('menuFactory', ['$resource', 'baseURL',
                function($resource, baseURL){...}])
              . Usage: $resource(url, [paramDefaults], [actions], options);
            trae algunas operaciones preconfiguradas por defecto:
              . 'get'
              . 'save'
              . 'query' (igual a get pero es array)
              . 'remove'
              . 'delete' (igual a remove)
            ejemplo:
              . $resource(baseURL+"dishes/:id",null, {'update':{method:'PUT'}})
                  .query(
                    function(response){
                      $scope.dishes = response;
                      $scope.showMenu = true;
                    },
                    function(response){
                      $scope.message = "Error: " + response.status + " " + response.statusText;
                    });
            en el ejemplo, notese que se usa el .query() para devolver datos, y ademas, se usan
            2 funciones para manejar success o failure en el request, igual que en $http, excepto
            que en la funcion de success, el response son los datos, mientras que en la funcion de
            failure, si trae toda esa otra info.


      */
    </script>

</body>

</html>
