<!DOCTYPE html>
<html lang="en" ng-app="confusionApp">

<head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head
         content must come *after* these tags -->
    <title>Ristorante Con Fusion: Menu</title>
        <!-- Bootstrap -->
    <!-- build:css styles/main.css-->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="styles/bootstrap-social.css" rel="stylesheet">
    <link href="styles/mystyles.css" rel="stylesheet">
    <!-- endbuild -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <div class="container">
        <div class="row row-content" ng-controller="MenuController">
            <div class="col-xs-12">
              <button ng-click="toggleDetails()" class="btn btn-xs btn-primary pull-right" type="button">
                {{showDetails ? 'Hide Details' : 'Show Details'}}
              </button>

                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" ng-class="{active:isSelected(1)}">
                    <a ng-click="select(1)" aria-controls="all menu"
                        role="tab">
                        The Menu
                    </a></li>
                    <li role="presentation" ng-class="{active:isSelected(2)}">
                    <a ng-click="select(2)" aria-controls="appetizers"
                        role="tab">
                        Appetizers
                    </a></li>
                    <li role="presentation" ng-class="{active:isSelected(3)}">
                    <a ng-click="select(3)" aria-controls="mains"
                        role="tab">
                        Mains
                    </a></li>
                    <li role="presentation" ng-class="{active:isSelected(4)}">
                    <a ng-click="select(4)" aria-controls="desserts"
                        role="tab">
                        Desserts
                    </a></li>
                </ul>

                <div class="tab-content">
                    <ul class="media-list tab-pane fade in active">
                    <li class="media" ng-repeat="dish in dishes | filter:filtText">
                        <div class="media-left media-middle">
                            <a href="#">
                            <img class="media-object img-thumbnail"
                             ng-src={{dish.image}} alt="Uthappizza">
                            </a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading">{{dish.name}}
                             <span class="label label-danger">{{dish.label}}</span>
                             <span class="badge">{{dish.price | currency}}</span></h2>
                            <p ng-show="showDetails">{{dish.description}}</p>
                        </div>
                    </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- build:js scripts/main.js -->
    <script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="scripts/app.js"></script>
    <!-- endbuild -->


    <script>
      /*
        -------------- NOTES ABOUT THE COURSE... NOT AN ACTUAL SCRIPT! -----------------

    *** about the === comparator:

    the === compares the two sides without doing any type conversion, that means if the
    types aren't equal, then it returns false. the == comparer checks if the types
    aren't equal, if so, it tries to convert them and then does the comparison. for example:
        '1' == 1 ---> true
        '1' === 1 --> false
    aplica lo mismo para otros tipos de datos y objetos.


        - Grunt-Gulp:
            se encargan de tareas automatizadas y de cosas muy repetitivas, por ejemplos, 
            recompilar sass y less code, uglificacion (minification + mangling), errores
            en protocolos o errores de js que puedan ser inconvenientes en el futuro.
            Tambien por ejemplo, reducir imagenes de tamaño, automated tests y compilar
            el sitio para deployment al web.
            Para todo esto se usa Grunt-Gulp, permiten automatizar todo esto.


          - gruntFile.js:
            en este archivo se especifica todos los task y demas cosas que queremos que haga
            grunt. El file globin

          - JSHint:
            intellisense para js... en el GruntFile.js se especifican que archivos de js
            se van a tener en cuenta, ademas de otras opciones

          - Distribution Folder:
            cuando se va a servir una pag web a un servidor, la idea es hacerlo con la menor
            cantidad de archivos y que pesen lo menos posible. para esto se genera una
            carpeta de distribucion. la idea es combinar la carpeta app y la carpeta bower_components
            para hacerlo bien.
            la idea es, entonces, copiar los archivos que son esenciales para la pagina web y
            hacer un rebuild de toda la carpeta de distribucion. estas acciones serian el copy
            y el clean.

          - Uglification:
            concatenar, minificar, cssmin, uglify, filerev, usemin. comprime todo para que 
            ocupe el menor espacio posible

          - Watch:
            mantiene un watch en ciertos archivos. Cuando estos cambien, corra algunos tasks
            configurados previamente automaticamente.

          - Connect:
            inicia un servidor en un puerto especificado y sirve los archivos dentro de algun
            folder (dist folder), para test. Se puede combinar con watch para recargar la pagina
            del navegador para ver los cambios.

          - Angular scope:
            es un objeto que referencia el modelo de la aplicacion. es el core del
            2-way binding, es decir, es la pega que une el modelo con el controlador
            de la sgte manera:
              . el controlador expone propiedades al scope
              . el view hace bind a las propiedades puestas por el controlador
              . angular es responsable de mantener las 2 en sync.
            el scope de mas arriba se llama $rootScope, se crea por angular cuando
            la app inicia y angular va creando scopes diferentes a medida que
            atraviesa el DOM. de esta manera, el scope tree y el DOM tree quedan
            de una manera similar.
            en el js que tiene el controller, se reemplaza this por $scope y se pone
            .controller('MenuController',['$scope', function($scope) { ... }]); para
            definir que se va a usar el scope. ademas, en el html se pueden llamar
            las funciones sin necesidad de especificar otras cosas. ver codigo arriba

          - ng-Show:
            se usa asi ng-show="boolean". esto quiere decir que este elemento html
            se mostrara u ocultara dependiendo de la variable boolean del $scope
            que se especifique en las comillas.

          - Angular Forms:
            dado el 2-way binding de angular, usar forms es muy sencillo, y usar
            validaciones de javascript para los datos tamb se vuelve trivial.
            lo que se hace es crear un objeto en el js que este dentro del scope
            y se definen las propiedades del 2-way binding. por ejemplo
              $scope.feedback = {mychannel="", firstName="", lastName=""}
            luego, en el html se hace con ng-model:
              <input type="text" ... ng-model="feedback.firstName">
            de esta manera, queda el 2-way binding. (controlador y vista).

          - Form Validation:
            se puede desactivar la validacion de form de html para que sea
            responsabilidad enteramente de angular. esto se hace en el tag
            <form> especificando novalidate, asi:
              <form class="form-horizontal" name="myForm" ng-submit="sendForm()" ... novalidate>
            el form debe tener un nombre y el ng-submit="func" llamara la funcion
            especificada cuando se le da al btn submit y ahi se trabajara el submit
            del form y la info.
            las validaciones que hace angular se realizan antes de asignar los valores al $scope. algunas directivas de interes:
              . ng-minlength
              . ng-maxlength
              . ng-pattern: can use regex (regular expresion(input matches regular expresion))
            cuando se nombran los campos y el form, se pueden usar 4 propiedades predeterminadas que trae angular para chequear un par de cosas
            (se pueden usar en campos individuales, o en todo el form):
              . $pristine: true si el form no ha sido cambiado
              . $dirty: opuesto a $pristine
              . $valid: true si el campo/form es valido
              . $invalid: opuesto a $valid
            cuando se encuentra alguna validacion, se pueden usar classes de bootstrap para alertar al usuario y hacerle saber que hay errores y que debe modificar para corregir dichos errores
              . .has-error, .has-warning, .has-success
              . .help-block para mostrar un msj abajo del campo.
              


      */
    </script>

</body>

</html>
